body
{
    font-family: helvetica, Arial Black, Arial;
    font-size:10pt;
    background-color: #ffffff;
}
        
#mainDiv
{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

#Header
{
    font-family: helvetica, Arial Black, Arial;
    font-size: 20pt;
}

#Footer
{
    position:absolute;
    bottom:0;
    width:99%;
    height:40px;   /* Height of the footer */
    background-color: #DCDCDC;
}

#DescriptionText
{
    font-size: 14px;
}

/* ============================================================================
 * Input text box and button
 * ============================================================================
 */

 #InputDiv
 {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     justify-content: center;
 }
 
 #WordButton, #WordBox
 {
     vertical-align: middle;
 
     height: 40px;
     font-size: 20px;
     border: 1px solid #606060; 
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     
     padding: 8px;
     margin: 0 0 5px 0;
 }
 
 #WordButton 
 {
     width: 25%;
     border-radius: 0px 5px 5px 0px;
     min-width: 175px;
 
     background-color: #CCCCCC; 
     color: #606060;
     
     cursor: pointer;
 }
 
 #WordButton:focus{
     outline: none;
 }
 #wordButton:hover 
 {
     font-weight: bold;
     color: black;
 }
 
 #WordBox
 {
     width: 75%;
 
     border-radius: 5px 0px 0px 5px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
     padding: 10px;
     
     background-color: white; 
     color:black;
 }
 
 #WordBox:focus{
     outline: none;
 }

#BannerImg
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


img.ImageElement
{
    width: 75px;
    height: 75px;
    margin: 5px;
}

#ResultImgDiv
{
    padding: 15px;
}

#ResultDiv
{
    padding: 15px;
}



a:link
{
    text-decoration: none;
    color: #BBBBBB;
}

a:visited
{
    text-decoration: none;
    color: #BBBBBB;
}
        
a:hover
{
    color: black;
    text-decoration:none;
}

h1.title
{
    font-family:Arial Black, Arial;
    font-size:16pt;
}
h1.groupHeader
{
    font-family:Arial Black, Arial;
    text-transform: uppercase;
    font-size:14pt;
}
img
{
    border-style: none;
}

.elemList
{
    border:none;
}



.TFtable{
    width:100%; 
    border-collapse:collapse; 
}
.TFtable td{ 
    padding:7px; border:black 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
    background: #eeeeee;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
    background: #dddddd;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
    background: #eeeeee;
}